
body {
margin: 0;
overflow: hidden; /* Prevent scrolling */
font-family: Arial, sans-serif;
}

.video-background {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
z-index: -1; /* Behind other elements */
}

.container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
background-color: rgba(0, 0, 0, 0.5);
padding: 40px;
border-radius: 10px;
text-align: center;
color: white;
}

h1 {
font-size: 3em; /* Larger font size */
margin-bottom: 10px; /* Space below heading */
font-weight: bold; /* Bold text */
}

p {
font-size: 2em; /* Increased font size for paragraph */
margin-bottom: 20px; /* Space below paragraph */
font-weight: bold; /* Bold text */
width: 80%; /* Width for paragraph */
}

.modal {
display: none; /* Hidden by default */
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: rgba(255, 255, 255, 1);
padding: 30px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
z-index: 100;
transition: opacity 0.5s ease;
width: 90%; /* Make modal responsive */
max-width: 400px; /* Max width for modal */
text-align: center; /* Center text in modal */
}

.modal.visible {
display: block;
opacity: 1;
}

.input-field {
margin: 10px 0;
width: calc(100% - 20px);
padding: 10px;
border: 1px solid #ccc;
border-radius: 20px;
}

.input-row {
display: flex;
justify-content: space-between;
width: 100%;
}

.input-row .input-field {
width: calc(50% - 10px); /* Each input takes half the width */
}

.input-row .input-field:first-child {
margin-right: 10px; /* Add space between first and last name fields */
}

.button {
background-color: #6c63ff; /* Button color */
color: white; /* White text color */
padding: 12px 24px; /* Increased padding */
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 18px; /* Increased font size */
transition: background-color 0.3s; /* Smooth transition */
margin-top: 15px; /* Space above button */
width:100%;
}

.button1 {
background-color: #6c63ff; /* Button color */
color: white; /* White text color */
padding: 12px 24px; /* Increased padding */
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 18px; /* Increased font size */
transition: background-color 0.3s; /* Smooth transition */
margin-top: 15px; /* Space above button */
}

.button:hover {
background-color: #575757; /* Darker background on hover */
}
 .button1:hover {
background-color: #575757; /* Darker background on hover */
}

.close-button {
cursor: pointer;
color: #007BFF;
margin-top: 20px;
text-decoration: underline;
font-size: 14px; /* Smaller font size */
}
